.label {
    -fx-font-size: 13px;
    -fx-font-family: "Helvetica Neue";
    -fx-text-fill: #000000;
    -fx-background-color: #FFFFFF;
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Helvetica Neue";
    -fx-background-color: black;
}

.button:hover {
    -fx-background-color: grey;
}

