.label {
    -fx-font-size: 20px;
    -fx-font-family: "Helvetica Neue";
    -fx-text-fill: black;
    -fx-background-color: white;
}

.button {
    -fx-font-size: 20px;
    -fx-font-family: "Helvetica Neue";
    -fx-text-fill: white;
    -fx-background-color: black;
}

.button:hover {
    -fx-background-color: dimgrey;
}

.list-view {
    -fx-background-color: white;
}

.list-cell {
    -fx-background-color: white;
}

.list-cell:odd {
    -fx-background-color: white;
}

.list-view:focused .list-cell:focused {
    -fx-background-color: white;
}

.list-view:focused .list-cell:focused:odd {
    -fx-background-color: white;
}

.list-view:focused .list-cell:filled:focused:selected {
    -fx-background-color: white;
}

.list-view:focused .list-cell:filled:selected, .list-view:focused .list-cell:filled:selected:hover {
    -fx-background-color: white;
}

.list-view:focused .list-cell:filled:focused:selected:hover {
    -fx-background-color: white;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected, .list-view:horizontal .list-cell:filled:selected {
    -fx-background-color: white;
}

.list-cell:filled:selected:focused:disabled, .list-cell:filled:selected:disabled {
    -fx-background-color: white;
}

.list-cell:filled:hover {
    -fx-background-color: white;
}

.list-view:focused .list-cell:filled:focused:hover {
    -fx-background-color: white;
}

.list-view:horizontal .list-cell:filled:selected, .list-view:horizontal .list-cell:filled:selected:hover {
    -fx-background-color: white;
}