#listModuleNotWorking {
    -fx-pref-width: 70px;
    -fx-max-width:70px;
}

#listDebugLog {
    -fx-min-width: 150px;
    -fx-max-width: 150px;
}

#listDebugLog .label {
    -fx-font-size: 10px;
}

#expansionPane {
    -fx-max-width: 500px;
    -fx-max-height: 400px;
    -fx-alignment: center-right;
}

#expansionImage {
    -fx-fit-to-width: 150px;
    -fx-fit-to-height: 300px;
    -fx-alignment: center-left;
}

#expansionInformation {
    -fx-padding: 5px;
    -fx-background-color: white;
    -fx-wrap-text: true;
}

#expansionScrollPane {
    -fx-background-color: white;
}

#listPOImaps {
    -fx-orientation: horizontal;
    -fx-pref-height: 150px;
    -fx-max-height: 150px;
}

#listPOIcamera {
    -fx-orientation: horizontal;
    -fx-pref-height: 150px;
    -fx-max-height: 150px;
}

#pnFoundation {
    -fx-background-color: white;
}

#listModuleStatus {
    -fx-pref-width: 70px;
    -fx-max-width: 70px;
}

#listExpressionStatus {
    -fx-pref-width: 70px;
    -fx-max-width: 70px;
}

.label {
    -fx-font-size: 20px;
    -fx-font-family: "Helvetica Neue";
    -fx-text-fill: black;
    -fx-background-color: white;
}

.button {
    -fx-font-size: 20px;
    -fx-font-family: "Helvetica Neue";
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color: black;
}

.button:hover {
    -fx-background-color: dimgrey;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: white;
}

.list-view {
    -fx-background-color: white;
}

.list-cell {
    -fx-background-color: white;
}

.list-cell:odd {
    -fx-background-color: white;
}

.list-view:focused .list-cell:focused {
    -fx-background-color: white;
}

.list-view:focused .list-cell:focused:odd {
    -fx-background-color: white;
}

.list-view:focused .list-cell:filled:focused:selected {
    -fx-background-color: white;
}

.list-view:focused .list-cell:filled:selected, .list-view:focused .list-cell:filled:selected:hover {
    -fx-background-color: white;
}

.list-view:focused .list-cell:filled:focused:selected:hover {
    -fx-background-color: white;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected, .list-view:horizontal .list-cell:filled:selected {
    -fx-background-color: white;
}

.list-cell:filled:selected:focused:disabled, .list-cell:filled:selected:disabled {
    -fx-background-color: white;
}

.list-cell:filled:hover {
    -fx-background-color: white;
}

.list-view:focused .list-cell:filled:focused:hover {
    -fx-background-color: white;
}

.list-view:horizontal .list-cell:filled:selected, .list-view:horizontal .list-cell:filled:selected:hover {
    -fx-background-color: white;
}