#listModuleNotWorking {
    -fx-pref-width: 70px;
    -fx-max-width: 70px;
}

#listDebugLog {
    -fx-background-color: rgba(0, 0, 0, 0.7);
}

#listDebugLog .label {
    -fx-font-size: 12px;
}

#textTFDebug {
    -fx-min-width: 200px;
    -fx-max-width: 400px;
    -fx-max-height: 120px;
    -fx-background-color: rgba(0, 0, 0, 0.7);
    -fx-padding: 10 10 10 10;
}

#expansionPane {
    -fx-padding: 0px;
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-border-color: aliceblue;
    -fx-border-width: 4px;
}

#expansionTopPane {
    -fx-background-color: rgba(64,64,64,255);
    -fx-padding: 8px;
}

#expansionName {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}

#expansionImage {
    -fx-fit-to-width: 150px;
    -fx-fit-to-height: 200px;
    -fx-alignment: center;
}

#expansionInformation {
    -fx-wrap-text: true;
    -fx-padding: 8px;
}

#expansionScrollPane {
    -fx-background-color: transparent;
    -fx-max-height: 250px;
}

#listPoiMaps {
    -fx-orientation: horizontal;
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-padding: 4px 0px 4px 0px;
}

#listPoiMaps .scroll-bar:vertical {
    -fx-scale-x: 0;
}

#listPoiCamera .scroll-bar:vertical {
    -fx-scale-x: 0;
}

#listPoiCamera {
    -fx-orientation: horizontal;
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-padding: 4px 0px 4px 0px;
}

#listModuleStatus {
    -fx-pref-width: 70px;
    -fx-max-width: 70px;
}

#listExpressionStatus {
    -fx-pref-width: 70px;
    -fx-max-width: 70px;
}

.label {
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-background-color: transparent;
}

.button {
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-background-color: black;
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}

.button:hover {
    -fx-background-color: dimgrey;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.list-view {
    -fx-background-color: transparent;
}

.list-cell {
    -fx-background-color: transparent;
}

.list-cell:odd {
    -fx-background-color: transparent;
}

.list-view:focused .list-cell:focused {
    -fx-background-color: transparent;
}

.list-view:focused .list-cell:focused:odd {
    -fx-background-color: transparent;
}

.list-view:focused .list-cell:filled:focused:selected {
    -fx-background-color: transparent;
}

.list-view:focused .list-cell:filled:selected, .list-view:focused .list-cell:filled:selected:hover {
    -fx-background-color: transparent;
}

.list-view:focused .list-cell:filled:focused:selected:hover {
    -fx-background-color: transparent;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected, .list-view:horizontal .list-cell:filled:selected {
    -fx-background-color: transparent;
}

.list-cell:filled:selected:focused:disabled, .list-cell:filled:selected:disabled {
    -fx-background-color: transparent;
}

.list-cell:filled:hover {
    -fx-background-color: transparent;
}

.list-view:focused .list-cell:filled:focused:hover {
    -fx-background-color: transparent;
}

.list-view:horizontal .list-cell:filled:selected, .list-view:horizontal .list-cell:filled:selected:hover {
    -fx-background-color: transparent;
}

#togglePane {
    -fx-background-color: rgba(0, 0, 0, 0.7);
}

#togglePane .button {
    -fx-pref-width: 220px;
}

.scroll-bar {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0em;
}

.scroll-bar .thumb {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0em;
}